<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Style\StyleCharacter.css" />
    <title>Character</title>
  </head>
  <body>
    <header class="Header">
      <img src="Image/Titulo.png" class="ImgHeader" />

      <div class="Title">
        <nav class="TitleNavigation">
          <nav class="ButtonTitleNavigation">
            <a id="Home" onclick="location.href='index.html'"> Home</a>

            <a id="History" onclick="location.href='history.html'"> History</a>

            <a id="Character" onclick="location.href='character.html'"
              >Character</a
            >

            <a id="Mask" onclick="location.href='Mask.html'"> Mask </a>

            <a id="Update" onclick="location.href='update.html'"> Update </a>
          </nav>

          <a id="Login" onclick="location.href='CardLogin.html'"> Login</a>
        </nav>
        <div class="TitleLogo">
          <img src="Image\TitleImage.png" />
          <h1>Spiritual Mask</h1>
        </div>
      </div>
    </header>

    <main class="Main">
      <div>
        <img src="Image\LizaBlack2.jpg" alt="Liza Black" />
        <p>
          <strong>Liza Black</strong><br /><br />
          Uma garota gentil, alegre e inteligente que esconde uma grande
          tristeza, sua mascara é uma kitsune contendo habilidade de chamas
          azuis e transfomação e um total de nove caudas.
        </p>
      </div>

      <div>
        <p>
          <strong>Violet Vermillion</strong><br /><br />
          Após seu pai vir a falecer, como filha única ela teve de herdar a
          posição de líder da família vermillion, a mesma também está disposta a
          acabar com esta guerra, com medo de ser derrotada ela se apossou de
          uma máscara maligna.
        </p>
        <img src="Image\Violet Vermillion.jpg" alt="Violet Vermillion" />
      </div>

      <div>
        <img src="Image\Darius Kaminari.jpg" alt="Darius Kaminari" />
        <p>
          <strong>Darius Kaminari</strong><br /><br />
          O Samurai responsável por aniquilar a família de Liza Black, também um
          dos líderes mais fortes e estrategistas de todas as famílias, o mesmo
          se apossou de uma máscara maligna que estava selada no templo em sua
          casa.
        </p>
      </div>

      <div>
        <p>
          <strong>Takeda Yoshinori</strong><br /><br />
          Um ex-guerreiro da família yamamoto que ao cair em uma ravina durante
          uma batalha, encontra um templo selado, o mesmo resolve romper o selo
          e se apossar de uma máscara maligna, ele então ganha um grande poder e
          mata o líder da família yamamoto, assim assumindo seu posto.
        </p>
        <img src="Image\Takeda Yoshinori.jpg" alt="Takeda Yoshinori" />
      </div>
    </main>

    <footer class="Footer">
        <img src="Image/Titulo.png" class="ImgFooter" />
      </footer>
  </body>
</html>
