<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Style\styleHistory.css">
        <title>History</title>
</head>
<body>
        <header class="Header">
                <img src="Image/Titulo.png" class="ImgHeader">

                <div class="Title">
                        <nav class="TitleNavigation">
                                <nav class="ButtonTitleNavigation">
                                        <a id="Home" onclick="location.href='index.html'"> Home</a>

                                        <a id="History" onclick="location.href='index.html'"> History</a>

                                        <a id="Character"
                                                onclick="location.href='character.html'">Character</a>

                                        <a id="Mask" onclick="location.href='Mask.html'"> Mask </a>

                                        <a id="Update" onclick="location.href='update.html'"> Update </a>
                                </nav>

                                <a id="Login" onclick="location.href='CardLogin.html'"> Login</a>
                        </nav>
                        <div class="TitleLogo">
                                <img src="Image\TitleImage.png">
                                <h1>Spiritual Mask</h1>

                        </div>
                </div>


        </header>

        <main class = "Main">
                <img src="Image\pergaminho2.png" alt="pergaminho">
                
        </main>
      
        <footer class="Footer">
                <img src="Image/Titulo.png" alt = "footerImage">
        </footer>
     
</body>
</html>