<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Style\styleMask.css">
        <title>Mask</title>
</head>
<body>
        <header class="Header">
                <img src="Image/Titulo.png" class="ImgHeader">

                <div class="Title">
                        <nav class="TitleNavigation">
                                <nav class="ButtonTitleNavigation">
                                        <a id="Home" onclick="location.href='index.html'"> Home</a>

                                        <a id="History" onclick="location.href='history.html'"> History</a>

                                        <a id="Character"
                                                onclick="location.href='character.html'">Character</a>

                                        <a id="Mask" onclick="location.href='Mask.html'"> Mask </a>

                                        <a id="Update" onclick="location.href='update.html'"> Update </a>
                                </nav>

                                <a id="Login" onclick="location.href='CardLogin.html'"> Login</a>
                        </nav>
                        <div class="TitleLogo">
                                <img src="Image\TitleImage.png">
                                <h1>Spiritual Mask</h1>

                        </div>
                </div>


        </header>
        <main class="Main">
                <div class = "InfoMask">
                        <h1>
                                |----- Sobre as Mascaras -----|
                        </h1>

                        <p>
                                As mascaras são como a representação do poder do usuário, despertada mediante a um longo treinamento, nem todos é capaz de despertar uma máscara,
                                cada máscara possui uma forma e uma ou mais habilidades, existem mascaras sombrias ou mascara demoníaca essa não são despertadas é necessário encontrá-las e quando usadas passa a ser a máscara dessa pessoa e substitui a que ele possui(caso tenha),
                                ambas as máscaras quando utilizada concede um grande aumento de força física e magica.
                        </p>
                </div>
                <div class = "Description">


                        <div>
                                <img src="Image\TitleImage.png" alt="Kitsune Mask">
                                <p>
                                        <strong>Kitsune Mask</strong><br><br>     
                                        Uma mascara muito rara tendo como sua usuária Liza Black,
                                         suas habilidades se retomem as chamas azuis e transformações, 
                                         além de adicionamos números de cauda de acordo com o nível de poder, 
                                         ou seja, mais forte quanto o usuário maior tem o numero de cauda
                                </p>
                        </div>
                        
                        <div>
                                <p>
                                        <strong>Oni Mask</strong><br><br>
                                        Uma mascara de um demónio desconhecido tendo como seu usuário Darius Kaminari .
                                </p>
                                <img src="Image\oni mask 3.jpg" alt="City">
                                
                        </div>
                        
                        <div>
                                <img src="Image\oni mask 2.png" alt="">
                                <p>
                                        <strong>Oni Mask</strong><br><br>
                                        Uma mascara de um demónio desconhecido tendo como seu usuário Darius Kaminari .
                                </p>
                        
                        </div>
                        
                        <div>
                                <p>
                                        <strong>Oni Mask</strong><br><br>
                                        Uma mascara de um demónio desconhecido tendo como seu usuário Darius Kaminari .
                                </p>
                                <img src="Image\oni mask.png" alt="Mask Darius Kaminari">
                                
                        </div>
                </div>
        </main>

        <footer class="Footer">
                <img src="Image/Titulo.png" class="ImgFooter">
        </footer>
</body>
</html>