<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Style\styleUpdate.css" />
    <title>Update</title>
  </head>
  <body>
    <header class="Header">
      <img src="Image/Titulo.png" class="ImgHeader" />

      <div class="Title">
        <nav class="TitleNavigation">
          <nav class="ButtonTitleNavigation">
            <a id="Home" onclick="location.href='index.html'"> Home</a>

            <a id="History" onclick="location.href='history.html'"> History</a>

            <a id="Character" onclick="location.href='character.html'"
              >Character</a
            >

            <a id="Mask" onclick="location.href='Mask.html'"> Mask </a>

            <a id="Update" onclick="location.href='update.html'"> Update </a>
          </nav>

          <a id="Login" onclick="location.href='CardLogin.html'"> Login</a>
        </nav>
        <div class="TitleLogo">
          <img src="Image\TitleImage.png" />
          <h1>Spiritual Mask</h1>
        </div>
      </div>
    </header>

    <main class="Main">
      <div class="Updates">
        <div id="Publication">
          <img src="Image\Raposinha1.png" alt="Raposinha" />

          <div class="Description">
            <div class="updateDescription">
              <p>
                <strong>Atualisation Name</strong><br />
                Hello! The team has been making steady progress since our update
                in the summer. We've been hard at work merging our creative,
                design and technical efforts into a single team endeavor focused
                on delivering Hytale. Before we share more, let's recap the last
                three years of Hytale's development.
              </p>
            </div>

            <div class="updateTimeAndAutor">
              <time>10/10/2000</time>
              <span> Posted by Maracuja Com Leite </span>
            </div>
          </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <div id="Publication">
          <img src="Image\Raposinha1.png" alt="Raposinha" />

          <div class="Description">
            <div class="updateDescription">
              <p>
                <strong>Atualisation Name</strong><br />
                Hello! The team has been making steady progress since our update
                in the summer. We've been hard at work merging our creative,
                design and technical efforts into a single team endeavor focused
                on delivering Hytale. Before we share more, let's recap the last
                three years of Hytale's development.
              </p>
            </div>

            <div class="updateTimeAndAutor">
              <time>10/10/2000</time>
              <span> Posted by Maracuja Com Leite </span>
            </div>
          </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <div id="Publication">
          <img src="Image\Raposinha1.png" alt="Raposinha" />

          <div class="Description">
            <div class="updateDescription">
              <p>
                <strong>Atualisation Name</strong><br />
                Hello! The team has been making steady progress since our update
                in the summer. We've been hard at work merging our creative,
                design and technical efforts into a single team endeavor focused
                on delivering Hytale. Before we share more, let's recap the last
                three years of Hytale's development.
              </p>
            </div>

            <div class="updateTimeAndAutor">
              <time>10/10/2000</time>
              <span> Posted by Maracuja Com Leite </span>
            </div>
          </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <div id="Publication">
          <img src="Image\Raposinha1.png" alt="Raposinha" />

          <div class="Description">
            <div class="updateDescription">
              <p>
                <strong>Atualisation Name</strong><br />
                Hello! The team has been making steady progress since our update
                in the summer. We've been hard at work merging our creative,
                design and technical efforts into a single team endeavor focused
                on delivering Hytale. Before we share more, let's recap the last
                three years of Hytale's development.
              </p>
            </div>

            <div class="updateTimeAndAutor">
              <time>10/10/2000</time>
              <span> Posted by Maracuja Com Leite </span>
            </div>
          </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <div id="Publication">
          <img src="Image\Raposinha1.png" alt="Raposinha" />

          <div class="Description">
            <div class="updateDescription">
              <p>
                <strong>Atualisation Name</strong><br />
                Hello! The team has been making steady progress since our update
                in the summer. We've been hard at work merging our creative,
                design and technical efforts into a single team endeavor focused
                on delivering Hytale. Before we share more, let's recap the last
                three years of Hytale's development.
              </p>
            </div>

            <div class="updateTimeAndAutor">
              <time>10/10/2000</time>
              <span> Posted by Maracuja Com Leite </span>
            </div>
          </div>
        </div>
      </div>

      <nav class="Archive">
        <h1>|-- Archive --|</h1>
        <div>
          <time>Janeiro 10/10/2000</time>
          <time>Janeiro 10/10/2000</time>
          <time>Fevereiro 10/10/2000</time>
          <time>Março 10/10/2000</time>
          <time>Abril 10/10/2000</time>
          <time>Maio 10/10/2000</time>
          <time>Maio 10/10/2000</time>
          <time>Junho 10/10/2000</time>
          <time>Julho 10/10/2000</time>
          <time>Agosto 10/10/2000</time>
          <time>Setembro 10/10/2000</time>
          <time>Outubro 10/10/2000</time>
          <time>Novembro 10/10/2000</time>
          <time>Novembro 10/10/2000</time>
          <time>Dezembro 10/10/2000</time>
        </div>
      </nav>
    </main>

    <footer class="Footer">
      <img src="Image/Titulo.png" class="ImgFooter" />
    </footer>
  </body>
</html>
